@inject Funiture_Project.Areas.Admin.Models.AdminSideBarService _AdminSideBarService;
@model IEnumerable<Funiture_Project.Models.HoaDon>
@{
    ViewData["Title"] = "DangCho";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<string> lsKhachHang = ViewBag.lsKhachHang;
    int i = 0;
}
@section Sidebar{
    @Html.Raw(_AdminSideBarService.renderHtml())
}
    @{
    _AdminSideBarService.setActive("DonHang", "DangCho", "Admin");
}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->

    <div class="d-flex justify-content-between">
        <h1 class="h3 mb-2 text-gray-800">Danh sách đơn hàng</h1>
        <div class="list-group list-group-horizontal">
            <a style="width: auto !important"
               asp-action="DangCho"
               class="list-group-item list-group-item-action active"
               aria-current="true">
                Đang chờ
            </a>
            <a style="width: auto !important"
               asp-action="DangGiao"
               class="list-group-item list-group-item-action">Đang giao</a>
            <a style="width: auto !important"
               asp-action="DaGiao"
               class="list-group-item list-group-item-action">Đã giao</a>
            <a style="width: auto !important"
               asp-action="BiHuy"
               class="list-group-item list-group-item-action">Bị hủy</a>
            <a style="width: auto !important"
               asp-action="TatCa"
               class="list-group-item list-group-item-action">Tất cả</a>
        </div>
    </div>
    <hr class="my-12" />

    <div class="mt-10"></div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered"
                       id="dataTable"
                       width="100%"
                       cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã HĐ</th>
                            <th>Khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Trạng thái đơn hàng</th>
                            <th>Ngày hóa đơn</th>
                            <th>Trị giá</th>
                            <th>Nhân viên</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã HĐ</th>
                            <th>Khách hàng</th>
                            <th>Số điện thoại</th>
                            <th>Thành phố</th>
                            <th>Ngày hóa đơn</th>
                            <th>Ngày giao hàng</th>
                            <th>Mã KM</th>
                            <th>Trị giá</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.MaHd</td>
                                    <td>@lsKhachHang[i]</td>
                                    <td>@item.Sdt</td>
                                    <td>@item.ThanhPho</td>
                                    <td>@item.NgayHd</td>
                                    <td>@item.NgayGh</td>
                                    <td>@item.MaKm</td>
                                    <td>@item.TriGia</td>
                                    <td class="d-flex justify-content-center">
                                        <a asp-action="DangCho_Update">
                                            <img src="~/admin/img/bi_pencil-square.svg"
                                         alt="" />
                                        </a>
                                    </td>
                                </tr>
                                i++;
                            }
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
